/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

/* LOGO*/

.logo {
  background-image: url("../public/log.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 140px;
  animation-name: ruota;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin-left: -100px;
}

@keyframes ruota {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* set Max-width of page*/
html {
  width: 100%;
  overflow-x: hidden;
}

.navigation {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(31, 97, 78);
  color: aliceblue;
}

.navigation-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 20%;
  font-weight: 700;
}

.homepage {
  text-align: center;
}

.links {
  color: white;
  text-decoration: none;
  padding: 0px 10px;
}

/* NAVBAR */
.btn-logout {
  border: none;
}

.btn-logout:hover {
  color: crimson;
}
